.entry-content > * {
  --i: var(--container-inline-size-max-text);
  --g: var(--container-inline-size-gutter);

  margin-inline: auto;
  max-inline-size: min(100% - 2 * var(--g), var(--i));
}

.entry-content > .is-inline-size-md {
  --i: var(--container-inline-size-max-md);
}

.entry-content > .is-inline-size-lg {
  --i: var(--container-inline-size-max-lg);
}

.entry-content > .is-inline-size-xl {
  --i: var(--container-inline-size-max-xl);
}

.entry-content > .is-no-gutter {
  --g: 0px;
}

.entry-content > .is-inline-size-full {
  max-inline-size: none;
}
