.post__header {
  margin-block: var(--container-padding-block--md);
}

.post__title {
  text-align: start;
}

.post__excerpt {
  grid-area: excerpt;
  font-style: italic;
  font-size: var(--fs-lg);
}

.post__tags {
  grid-area: tags;
  justify-content: start;
}

.post__featured-image {
  grid-area: image;

  img {
    max-block-size: 300px;
    object-fit: cover;
    object-position: center 25%;
  }

  figcaption {
    font-size: var(--fs-sm);
    text-wrap: pretty;

    .credit {
      font-style: italic;
    }
  }
}

.educator__department {
  font-size: var(--fs-lg);
}

.post__main {
  margin-block: var(--container-padding-block--md);
}

.post--has-featured-image {
  @media screen and (width > 750px) {
    .post__header__inner {
      display: grid;
      column-gap: var(--container-inline-size-gutter);
      grid-template-areas:
        'title image'
        'excerpt image'
        'tags image';
      grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
      grid-template-rows: min-content min-content 1fr;
      align-items: start;

      hgroup {
        grid-area: title;
      }

      .post__featured-image {
        margin-block-start: 0;

        img {
          max-block-size: unset;
        }
      }
    }
  }
}
