.post__header {
  margin-block: var(--container-padding-block--md);
}

.post__title {
  text-align: start;
}

.post__excerpt {
  grid-area: excerpt;
  font-style: italic;
  font-size: var(--fs-lg);
}

.post__tags {
  grid-area: tags;
  justify-content: start;
}

.post__thumbnail {
  grid-area: image;
  img {
    max-block-size: 300px;
    object-fit: cover;
    object-position: center 25%;
  }
}

.educator__department {
  font-size: var(--fs-lg);
}

.post__main {
  margin-block: var(--container-padding-block--md);
}

.post--has-thumbnail {
  @media screen and (width > 750px) {
    .post__header__inner {
      display: grid;
      column-gap: var(--container-inline-size-gutter);
      align-items: center;
      grid-template-areas:
        'title image'
        'excerpt image'
        'tags image';
      grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));

      hgroup {
        grid-area: title;
      }

      .post__thumbnail {
        margin-block-start: 0;
      }
    }
  }
}
