.site-header {
  position: sticky;
  top: 0;
  inline-size: 100%;
  z-index: 2;
}

.site-header__banner {
  padding-inline: var(--container-inline-size-gutter);
  background-color: var(--clr-primary);
}

.site-header__main {
  padding-inline: var(--container-inline-size-gutter);
  background-color: hsl(from var(--clr-neutral-100) h s l / 0.98);
  border-bottom: var(--border-size-site-header) solid var(--clr-secondary);
}

.site-header__banner-inner {
  max-inline-size: var(--container-inline-size-max-lg);
  margin-inline: auto;
  padding-block: var(--space-sm);

  display: flex;
  gap: 1.5rem;
  justify-content: end;
  align-items: center;

  & > :first-child {
    flex-shrink: 0;
  }

  & > * {
    text-align: center;
    text-wrap: balance;
  }
}

.site-header__main-inner {
  max-inline-size: var(--container-inline-size-max-lg);
  margin-inline: auto;
  padding-block: var(--space-md);
  transition: padding var(--transition-base);

  display: flex;
  align-items: center;
  justify-content: space-between;

  & > :first-child {
    flex-shrink: 0;
  }
}

.site-header .logo__image {
  object-fit: contain;
  block-size: 100px;
  inline-size: auto;
  transition: block-size var(--transition-base);
}

/* Site Header -- Small */

.site-header.site-header--small .site-header__main-inner {
  padding-block: var(--space-sm);
}

.site-header.site-header--small .logo__image {
  block-size: 60px;
}
