.section-text-image {
  &:nth-of-type(2n) .section-text-image__text {
    grid-column: 2;
  }

  .section-text-image__inner {
    max-inline-size: var(--container-inline-size-max-regular);
    margin-inline: auto;

    @media screen and (width > 650px) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: center;
      grid-auto-flow: dense;
    }
  }

  .section-text-image__text {
    padding: 4rem 2rem;
    text-align: center;

    /* a,
    p {
      font-size: var(--fs-xl);
    } */
  }

  .section-text-image__image {
    block-size: 100%;
    object-fit: cover;
  }
}
