.button {
  cursor: pointer;
  display: block flex;
  background-color: var(--clr-accent);
  color: var(--clr-neutral-100);
  padding: 0.5em 1.25em;
  outline: none;

  /* display: block; */
  margin-inline: auto;
  inline-size: fit-content;

  border: 1px solid var(--clr-accent);
  border-radius: var(--radius-xl);
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;

  &:hover,
  &:focus-visible {
    background-color: var(--clr-neutral-100);
    color: var(--clr-accent);
    border: 1px solid var(--clr-accent);
    text-decoration: none;
  }

  &:focus-visible {
    outline: 2px dashed var(--clr-accent);
    outline-offset: 2px;
    text-decoration: none;
  }
}
