a:not(:has(img)) {
  /* color: currentColor; */
  color: var(--clr-accent);
  text-decoration: underline dashed 1px;
  text-underline-position: under;
}

a:not(:has(img)):hover,
a:not(:has(img)):focus-visible {
  color: var(--clr-primary);
  text-decoration: underline solid 1px;
}

a:focus-visible {
  border: 0;
  outline: 2px dashed var(--clr-primary);
  outline-offset: 4px;
}
