.skip-to-main {
  position: absolute;
  padding: 0.5em 2em;
  top: calc(10px + var(--admin-bar-block-size));
  left: 10px;
  translate: -200%;
  z-index: 2;

  &:hover,
  &:focus-visible {
    background-color: var(--clr-accent);
    color: var(--clr-neutral-100);
    translate: 0;
  }

  &:focus-visible {
    outline-color: var(--clr-accent);
  }
}
