/* background colors */

.is-background-light {
  background-color: var(--clr-light);
}

.is-background-accent {
  background-color: var(--clr-accent);
}

.is-background-dark {
  background-color: var(--clr-primary);
}

/* TO DO: make this alternating between light and transparent */
.is-background-alternating {
  background-color: var(--clr-neutral-300);
}
