/* Block spacing/rhythm */

.flow-content > * + * {
  margin-block-start: var(--flow-space-sm, 1.5em);
}

.flow-content > * + :is(h1, h2, h3) {
  margin-block-start: var(--flow-space-lg);
}

.flow-content > * + .has-flow-space-xs,
.flow-content > .has-flow-space-xs + * {
  margin-block-start: var(--flow-space-xs);
}

.flow-content > * + .has-flow-space-md,
.flow-content > .has-flow-space-md + * {
  margin-block-start: var(--flow-space-md);
}

.flow-content > * + .has-flow-space-lg,
.flow-content > .has-flow-space-lg + * {
  margin-block-start: var(--flow-space-lg);
}

/* section block spacing */

.has-block-space-none {
  padding-block: 0;
}

.has-block-space-sm {
  padding-block: var(--container-block-spacing-sm);
}

.has-block-space-md {
  padding-block: var(--container-block-spacing-md);
}

.has-block-space-lg {
  padding-block: var(--container-block-spacing-lg);
}

.has-block-end-space-sm {
  padding-block-end: var(--container-block-spacing-sm);
}

.has-block-end-space-md {
  padding-block-end: var(--container-block-spacing-md);
}

.has-block-end-space-lg {
  padding-block-end: var(--container-block-spacing-lg);
}

.has-block-end-space-xl {
  padding-block-end: var(--container-block-spacing-xl);
}

/* Convenience block to investigate block scrolling */

.blank-space {
  background-color: pink;
  margin: 2rem auto;
  inline-size: 50%;
  block-size: 1000px;
  display: grid;
  place-items: center;
}
