.block-highlights {
  background-color: var(--clr-blue-400);

  display: grid;

  @media screen and (width > 650px) {
    grid-template-columns: repeat(3, 1fr);
  }

  .highlight {
    padding: 3rem 1rem;
    text-align: center;
    text-wrap: balance;

    color: var(--clr-neutral-100);

    &:nth-child(odd) {
      background-color: var(--clr-blue-200);
    }

    display: grid;
    align-content: start;
  }

  .highlight__heading {
    line-height: 1;
    font-size: var(--fs-3xl);
    font-weight: var(--fw-semi-bold);
  }

  .highlight__description {
    font-size: var(--fs-xl);
    text-wrap: balance;
  }
}
