.block-highlights {
  background-color: hsl(var(--clr-blue-400));

  .block-highlights__inner {
    max-inline-size: var(--container-inline-size-max-regular);
    margin-inline: auto;

    display: grid;

    @media screen and (width > 650px) {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  .highlight {
    padding: 3rem 1rem;
    text-align: center;

    color: hsl(var(--clr-neutral-100));

    &:nth-child(odd) {
      background-color: hsl(var(--clr-blue-200));
    }

    display: grid;
    align-content: start;
  }

  .highlight__heading {
    line-height: 1;
    font-size: var(--fs-3xl);
    font-weight: var(--fw-semi-bold);
  }

  .highlight__description {
    margin-block-start: 1em;
    font-size: var(--fs-xl);
    text-wrap: balance;
  }
}
