.block-prose {
  ul {
    padding-inline-start: 1.5rem;
  }

  dl {
    display: grid;
    grid-template-columns: fit-content(33%) 1fr;
    gap: 1em 2em;

    dt {
      font-style: italic;
      text-wrap: balance;
    }

    dd {
      margin-inline-start: 0;
    }
  }

  .quote {
    --inline-start-spacing: 2rem;

    background: #eee;
    padding: 1em;
    border-radius: var(--radius-lg);

    blockquote {
      margin: 0 0 0 var(--inline-start-spacing);
      position: relative;

      &::before {
        content: open-quote;
        position: absolute;
        display: block;
        left: calc(-1 * var(--inline-start-spacing));
        font-size: var(--fs-4xl);
        line-height: 1;
      }

      &::after {
        content: close-quote;
        position: absolute;
        display: block;
        visibility: hidden;
        right: 0;
        bottom: -0.5em;
        font-size: var(--fs-4xl);
        line-height: 1;
      }

      quotes: '“' '”' '‘' '’';
    }

    figcaption {
      margin: 1em 0 0 var(--inline-start-spacing);
      font-size: var(--fs-sm);
      font-style: italic;
    }
  }
}
