.timeline {
  --year-font-size: var(--fs-lg);
  --year-column-size: calc(3.5 * var(--year-font-size));
  --year-group-spacing: 2rem;

  list-style: none;
  padding-inline-start: 0;
  position: relative;

  block-size: 500px;
  overflow-y: auto;

  background-image: linear-gradient(
    to right,
    var(--clr-neutral-300),
    var(--clr-neutral-300)
  );
  background-size: 2px 100%;
  background-repeat: repeat-y;
  background-position: var(--year-column-size) 0;

  .timeline__year {
    .year {
      position: sticky;
      top: 0;
      font-size: var(--year-font-size);
      line-height: 1;
    }

    ul {
      margin-block-start: calc(-1 * (var(--year-font-size) + 6px));
      padding-inline-start: calc(var(--year-column-size) + 1rem - 2px);
      list-style: none;
    }
  }

  & > * + .timeline__year {
    margin-block-start: var(--year-group-spacing);
  }

  .timeline__item {
    position: relative;

    &::after {
      box-sizing: content-box;
      content: '';
      block-size: 10px;
      inline-size: 10px;
      position: absolute;
      left: -21px;
      top: 7px;
      background: var(--clr-neutral-300);
      border: 2px solid var(--clr-neutral-100);
      border-radius: 50%;
    }
  }
}
